a{
	text-decoration: none;
	cursor: pointer;
}

body{
	text-shadow: 1px 1px 1px #CCC7C7;
	font-family: "微软雅黑";
	text-decoration: none;
}

p{
    margin: 0px;
}

.poster img {
	width:168px;
	height: 238px;
}

a{
	text-decoration: none;
	cursor: pointer;
}

/* content */
#content {
  width: 1300px;
  margin: 0 auto;
  background-color: #ffffff;
}
/* content end */

/* navbar */
.navbar {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	height: 123px;
}

.container-fluid{
	margin-left: 210px;
	margin-right: 210px;
	width: 64%;
}

.navbar .brand{
	position: relative;
    top: 16px;
    margin-bottom: 5px;
}

.navbar .brand.private{
	margin-left: -6%;
}

.navbar .brand.public{
	margin-left: -10%;
}

.first-approch.pull-right.beforeLogin{
	position: relative;
	right: -7%;
}
.first-approch.pull-right.afterLogin{
	padding-top: 20px;
	margin-right: -8%;
}

.first-approch.pull-right.afterLogin.private{
	margin-left: 51px;
}

#photo-private,#photo-public{
	width: 70px;
	height: 70px;
	position: relative;
}

#photo-public{
    left: 62px;
}

#photo-private{
    left: 19px;
}

.first-approch.pull-right.left{
	position: relative;
	top: 29px;
	float: right;
	margin-right: -5%;
	text-decoration: none;
}

.first-approch.pull-right.left a{
	color: rgb(144, 193, 255);
}

#privateName,#publicName{
	font-size: 18px;
}

#name{
	display: inline-block;
	width: 197px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.bottom1{
	display: inline-block;
	margin-right: 23px;
}

#logout{
	display: inline-block;
	margin-left: -12px;
}

.navline{
	position: relative;
	top: -14%;
}

.navline.unlog{
	top: -25px;
}

.navbar form{
	margin-top: 11%;
	margin-bottom: 5%;
	width: 211px;
	position: relative;
    right: 39%;
}
.navbar .reAndLoInput{
	float: right;
	display: inline-block;
	width: 86%;
}

.navbar .reAndLoButton{
	float: right;
    margin-top: -7%;
    color: white;
    font-family: 微软雅黑;
    position: relative;
    bottom: 23px;
    left: 50px;
}

.navbar .btn.btn-warning{
	float: right;
	margin-top: -40px;
	margin-left: 50px;
	border-color: #f54f29;
}

.navbar .btn.btn-info{
	float: right;
	margin-top: -40px;
	margin-left: 20px;
}

#register{
	float:right;
	position:relative;
	top:68px;
	left:117px;
	font-size:18px;
	margin-left:4px;
	cursor:pointer;
}

#login{
	background-color: #98cae2;
	border: 1px solid #669acc;
}

#search{
	display: inline-block;
	width: 101px;
}

.navbar .shortline{
	display: inline-block;
	width: 13%;
	height: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.public.shortline{
	width: 12%;
}

.private.shortline{
	width: 15%;
}

.navbar .shortline.blueline{
	background-color: rgb(144, 193, 255);
}

.navbar .shortline.orangeline{
	background-color: rgb(248, 210, 140);
}

.navbar .longline{
	display: inline-block;
	width: 25%;
	height: 10px;
	background-color: #dcdcdc;
}

.public.longline{
	width: 20%;
}

.private.longline{
	width: 20%;
}

.navbar .home,#home{
	display: inline-block;
	text-decoration: none;
	color: rgb(144, 193, 255);
}

.navline span {
	font-size: 20px;
}

.navbar .search-bar{
	display: inline-block;
	position: relative;
	bottom: -3px;
	margin: 0px;
    right: 0px;
    width: auto;
}

.btn.btn-blue {
	margin-top: -10px;
	margin-left: 6px;
}
/* navbar end */

/*container*/
.container{

}

#carousel-container{
	height: 310px;
    background-color: #e5e5e5;
}

.carousel{
	display: inline-block;
    margin-top: 8px;
    height: 294px;
    width: 960px;
    right: -11px;
}

.carousel-control.right{
	margin-right: 4%;
}

.carousel-indicators{
	right: 6%;
}

.carousel-inner{
	width: 96%;
}

.main{
	margin-top: 20px;
    margin-left: -20px;
}

.container.main .span6{
	width: 430px;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 15px;
    position: relative;
    left: 20px;
    margin-bottom: 20px;
}

.poster{
	float: left;
    position: relative;
    z-index: 1;
}

.cutoffLine{
	background-color: rgb(214, 209, 201);
	width: 55%;
	height: 1px;
	position: absolute;
	top: 24%;
	right: 0px;
}

.detail{
	position: absolute;
    left: 30%;
    margin-left: 14%;
    height: inherit;
    width: 54%;
}

.detail p{
	word-wrap: break-word;
}

.detail #title{
	font-size: 20px;
}

.detail .allInfo{
	margin-top: 15px;
    font-size: 105%;
    font-family: 微软雅黑;
    position: absolute;
    top: 20%;
    left: -4%;
    width: 100%;
}

.detail .info-block{
	margin-bottom: 15px;
    font-size: 98%;
}

.detail .info{
	color: #fb6d00;
    position: absolute;
    right: 58%;
}

.detail .infoValue{
	color: rgb(105, 103, 103);
    position: relative;
    left: 41%;
}

.detail a,.detail span{
	text-decoration: none;
    position: absolute;
    color: rgb(105, 103, 103);
}

.detail .moreInfo{
	top: 61%;
    left: 37%;
    cursor: pointer;
}

.detail .aboutTeam{
	position: absolute;
    top: 80%;
    width: inherit;
}

.detail .teamCount{
	color: rgb(144, 193, 255);
    font-family: 微软雅黑;
    font-size: 105%;
}

.detail .findTeam{
	margin-left: 53%;
    position: absolute;
    cursor: pointer;
}

.detail .findTeam img:hover{
	box-shadow: 1px 1px 19px rgba(248, 196, 130, 1);
}
/* footer */
#footer .footline{
	width: 73%;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
}


#footer .footline.cyanline{
	background-color: #98cae2;
}

#footer{
	clear: both;
	min-width:65%;
}

#footer .footerContent{
	width: 850px;
	height: 80px;
	margin: 0 auto;
	color: #8B8B7F;
	text-align: center;
	font-size: 15px;
}

#footer .footerContent a{
	color: #8B8B7F;
}

#footer-column{
	display: inline-block;
	margin-top: 13px;
	margin-bottom: 10px;
}
/* footer end */
.weibo{
	margin-left: 21%;
	margin-top: 2%;
}

#copyright{
	margin-top: -2%;
}