.pagination{
	height: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: auto;
    position: relative;
}

.pagination ul{
	box-shadow: none;
}

.pagination .prev{
	margin-right: 2px;
}

.pagination .next{
	margin-left: 2px;
}

.pagination .current{
	color: white;
    background-color: rgb(248, 210, 140);
    width: auto;
    height: auto;
}

.pagination span,.pagination a{
	border :none;
	padding: 4px 8px;
	color: #7d7d7d;
	margin-left: 2px;
}

.pagination a:hover{
	background-color: rgb(248, 210, 140);
	color: white;
	text-decoration: none;
}